span.start {
  background: blue;
  color: white;
  cursor: grab;
}

span.end {
  background: red;
  color: white;
  cursor: grab;
}

div.grabbing span.start, div.grabbing span.end {
  cursor: grabbing;
}

span.active {
  background: yellow;
}

div.grabbing {
  cursor: grabbing;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
